<%= form_for @audio_file do |f| %>
  <%= f.file_field :attached_file %>
  <%= f.submit 'Upload' %>
<% end %>

<form action='/audio_files/63/trim' method='post' />
  <div>
    <label>audio file id</label>
    <%= number_field_tag :id, 63 %>
  </div>
  <div>
    <label>start of trim</label>
    <%= number_field_tag :start %>
  </div>
  <div>
    <label>duration of trim</label>
    <%= number_field_tag :duration %>
  </div>
  <%= submit_tag 'Trim' %>
</form>
